:root[data-page*="/discography"] .main-topBar-container {
    display: block !important;

    > .contentSpacing {
        padding: 0;
    }

    .main-topBar-topbarContent {
        > *:not(div[data-identifier="discography-topbar"]) {
            display: none;
        }

        div[data-identifier="discography-topbar"] {
            width: 100%;
            height: 28px;
            left: 0;
            border-bottom: solid 1px var(--wmp11-separator-shadow);
            box-shadow: none !important;
            padding-inline: 0;

            div[data-encore-id="text"] {
                margin-left: 8px;
                font-size: 12px;
                font-family: var(--ui-font);
            }

            .x-sortBox-sortDropdown {
                order: 0;

                &::before {
                    display: none;
                }
            }

            button[role="switch"] {
                position: relative;
                width: 28px;
                margin-left: 0;

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 1px;
                    width: 16px;
                    height: 16px;
                    background: url('resources/icon/list_discography.png') no-repeat;
                }

                &:last-child::after {
                    background-image: url('resources/icon/grid.png');
                }

                svg {
                    display: none;
                }
            }

            button[aria-controls="sort-and-view-picker"] { /* 1.2.60 */
                order: 0;
                padding-inline-end: 0;
                min-block-size: unset;
                transform: none !important;
            }
        }
    }
}

section[data-testid="artist-page"],
section[data-test-uri^="spotify:artist:"] {
    > .contentSpacing {
        padding: 0;
    }

    /* Hide this before relocation with JS */
    .artist-artistDiscography-topBar,
    div[data-identifier="discography-topbar"] {
        display: none;
    }

    .artist-artistDiscography-headerContainer {
        padding: 0;
        clear: both;
        float: left;
        width: 240px;
        position: relative;
        padding-top: 0 !important; /* 1.2.45 */
        margin-top: 0 !important; /* 1.2.78 */
        z-index: 1;

        .artist-artistDiscography-headerImage {
            width: 96px;
            height: 96px;
            margin-left: 4px;
        }

        .artist-artistDiscography-headerMetadata {
            width: 136px;
            margin-inline-start: 10px;

            * {
                color: var(--spice-text);
                font-size: 12px;
            }
    
            a {
                &:hover {
                    color: var(--hot-tracking-color);
                }
            }

            .artist-artistDiscography-headerTitle {
                display: block;
                font-size: 12px;
                font-weight: normal;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            div[style*="text-subdued"] {
                flex-direction: column;
                align-items: flex-start;
                margin-top: 0;

                span[data-separator="true"] {
                    display: none;
                }
            }

            .artist-artistDiscography-headerButtons {
                display: none;
            }
        }
    }

    .artist-artistDiscography-tracklist {
        position: relative;
        min-height: 100px;
        margin-top: 21px;

        .wmpotify-discography-trackList-header {
            position: absolute;
            display: flex;
            top: -21px;
            left: 0;
            width: 100%;
            height: 20px;
            font-size: 12px;
            color: var(--wmp11-header-text);
            white-space: nowrap;
            border: solid 1px transparent;
            border-radius: 3px;
            padding-left: 11px;

            &:hover {
                background: var(--item-hover-background);
                border-color: var(--item-hover-border);
            }

            &:focus-within {
                background: var(--item-selection-background);
                border-color: var(--item-active-border);
            }
    
            &:hover:focus-within {
                background: var(--item-selection-hover-background);
                border-color: var(--item-selection-hover-border);
            }

            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background: var(--wmp11-header-line);
                margin-top: 8px;
                margin-left: 4px;
                margin-right: 9px;
            }
        }

        .main-trackList-trackListHeader {
            display: none; /* Only show first album header */
        }

        .main-trackList-trackListRow {
            grid-gap: 0;

            .main-trackList-number {
                top: 0;
            }

            .main-trackList-rowSectionStart .main-trackList-rowMainContentCompact {
                margin-left: 5px;
            }

            * {
                font-family: var(--ui-font) !important;
                font-size: 12px !important;
            }

            .main-trackList-rowMarker {
                span {
                    display: inline !important;
                }
                button {
                    display: none;
                }
            }
        }

        .main-rootlist-bottomSentinel {
            display: none;
        }
    }

    .artist-artistDiscography-firstAlbum {
        & + .artist-artistDiscography-tracklist {
            margin-top: 46px;
            margin-bottom: 44px;

            .main-trackList-trackListHeader {
                display: block;
                top: 0 !important;
                left: 0;
                margin: 0;
                padding: 0;
                margin-top: -54px;
                margin-bottom: 30px;
                opacity: 1 !important;

                .main-trackList-trackListHeaderRow {
                    margin-left: 240px;
                }
            }
        }
    }

    .artist-artistDiscography-cardGrid {
        margin-top: 0;
    }
 
    .artist-artistDiscography-cardGrid.main-gridContainer-gridContainer,
    .artist-artistDiscography-cardGrid .main-gridContainer-gridContainer {
        margin-top: 0;
    }
}

@media (forced-colors: active) {
    div[data-identifier="discography-topbar"] {
        button[role="switch"] {
            &::after {
                top: 3px !important;
                left: 4px !important;
            }
        }
    }
}