:root[data-wmpotify-style="xp"] {
    #main {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 8px;
            height: calc(100% - var(--player-bar-height));
            background: url('resources/frame/leftframe.png') 0 0 / 8px 100% no-repeat;
            z-index: 1;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 8px;
            height: calc(100% - var(--player-bar-height));
            background: url('resources/frame/rightframe.png') 0 0 / 8px 100% no-repeat;
        }
    }
}

:root:not([data-wmpotify-title-style="native"]) {
    #main {
        margin-top: 25px;
        height: calc(100% - 25px);
    }

    #wmpotify-title-icon {
        position: absolute;
        top: 4px;
        left: 7px;
        width: 16px;
        height: 16px;
        background: var(--logo-16) no-repeat;
        -webkit-app-region: no-drag !important;
        z-index: 1000;

        &.logo2013 {
            background-image: var(--logo-16-2013);
        }
    }

    #wmpotify-title-bar {
        --controls-width: 139px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 25px;
        z-index: 9999999;
        display: flex;
        justify-content: space-between;
        padding-top: 3px;
        padding-right: var(--controls-width);
        -webkit-app-region: drag !important;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 25px;
            border-image: url('resources/frame/titlebar_nocontrols.png') 0 103 0 12 fill stretch;
            border-image-width: 0 103px 0 12px;
            z-index: -1;
        }

        &:has(#wmpotify-title-buttons) {
            --controls-width: 42px;
            &::before {
                border-image-source: url('resources/frame/titlebar_closeonly.png');
            }
        }

        &:has(#wmpotify-minimize-button) {
            --controls-width: 105px;
            &::before {
                border-image-source: url('resources/frame/titlebar.png');
            }
        }

        #wmpotify-title-buttons {
            position: absolute;
            top: 0;
            right: 7px;
            width: 93px;
            height: 18px;
            display: flex;
            gap: 0;
            -webkit-app-region: no-drag !important;

            button {
                position: relative;
                width: 25px;
                border: none;
                background: -1px 0 no-repeat;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 20px;
                    z-index: -1;
                }
            }

            #wmpotify-minimize-button {
                background-image: url('resources/frame/minimize.png');

                &:hover::before {
                    left: -1px;
                    width: 26px;
                    background: url('resources/frame/minimize_hover.png') no-repeat;
                }

                &:active::before {
                    background: url('resources/frame/minimize_pressed.png') no-repeat;
                }
            }

            #wmpotify-maximize-button {
                background-image: url('resources/frame/maximize.png');
                background-position-x: 1px;

                &[data-maximized] {
                    background-image: url('resources/frame/restore.png');
                }

                &:hover::before {
                    width: 25px;
                    background: url('resources/frame/maximize_hover.png') no-repeat;
                }

                &:active::before {
                    background: url('resources/frame/maximize_pressed.png') no-repeat;
                }
            }

            #wmpotify-close-button {
                background-image: url('resources/frame/close.png');
                width: 43px;

                &:hover::before {
                    width: 44px;
                    background: url('resources/frame/close_hover.png') no-repeat;
                }

                &:active::before {
                    background: url('resources/frame/close_pressed.png') no-repeat;
                }
            }

            &:not(:has(#wmpotify-maximize-button)) {
                width: 43px;

                #wmpotify-close-button {
                    background-position-x: 1px;

                    &:hover::before {
                        left: -1px;
                        width: 45px;
                        background: url('resources/frame/closeonly_hover.png') no-repeat;
                    }

                    &:active::before {
                        background: url('resources/frame/closeonly_pressed.png') no-repeat;
                    }
                }
            }
        }

        .wmpotify-time-text {
            font-size: 12px;
            flex-shrink: 0;
            line-height: 1.7;
            -webkit-app-region: no-drag !important;
        }
    }

    #wmpotify-title-text {
        font-size: 12px;
        line-height: 1.7;
        color: white;
        margin-left: 33px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &[data-wmpotify-title-style="spotify"],
    &[data-wmpotify-title-style="keepmenu"] {
        #wmpotify-title-text {
            margin-left: 50px;
        }
    }

    &.spotify__os--is-macos:not([data-wmpotify-title-style="custom"]) {
        #wmpotify-title-icon {
            display: none;
        }

        #wmpotify-title-text {
            margin-left: 0;
            position: absolute;
            top: 3px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &:fullscreen,
    *:fullscreen {
        #wmpotify-title-bar {
            display: none;
        }

        #main {
            margin-top: 0;
            height: 100%;
        }
    }

    &:not([data-wmpotify-style="xp"]) {
        #wmpotify-title-bar {
            height: 24px;
            outline: solid 1px #242426;

            &::before {
                height: 24px;
                border-image-source: url('resources/frame/titlebar_nocontrols_noedge.png');
            }

            &:has(#wmpotify-title-buttons)::before {
                border-image-source: url('resources/frame/titlebar_closeonly_noedge.png');
            }
    
            &:has(#wmpotify-minimize-button)::before {
                border-image-source: url('resources/frame/titlebar_noedge.png');
            }
        }
    }
}

@media (max-height: 125px) {
    :root:not([data-wmpotify-title-style="native"]) {
        #main {
            margin-top: 24px;
            height: calc(100% - 24px);
        }
    
        #wmpotify-title-bar {
            height: 24px;
            outline: none;
    
            &::before {
                height: 24px;
                border-image-source: url('resources/frame/titlebar_nocontrols_noedge.png');
            }
    
            &:has(#wmpotify-title-buttons)::before {
                border-image-source: url('resources/frame/titlebar_closeonly_noedge.png');
            }
    
            &:has(#wmpotify-minimize-button)::before {
                border-image-source: url('resources/frame/titlebar_noedge.png');
            }
        }
    }
}