:root {
    --nav: url('resources/topbar/nav.png');
    --nav-hover: url('resources/topbar/nav_hover.png');
    --nav-pressed: url('resources/topbar/nav_pressed.png');
    --nav-disabled: url('resources/topbar/nav_disabled.png');
    --tab: none;
    --tab-hover: url('resources/topbar/tab_hover.png');
    --tab-pressed: url('resources/topbar/tab_pressed.png');
    --tab-active: url('resources/topbar/tab_active.png');
    --tab-active-hover: url('resources/topbar/tab_active_hover.png');
    --tab-active-pressed: url('resources/topbar/tab_active_pressed.png');
    --overflow: url('resources/topbar/overflow.png');
    --overflow-hover: url('resources/topbar/overflow_hover.png');

    --tab-label-bg: transparent;
    --tab-label-bg-active: transparent;
    --tab-label-text: white;
    --tab-label-text-active: white;

    --hcblack-nav: url('resources/topbar/nav_hcblack.png');
    --hcblack-tab: url('resources/topbar/tab_hcblack.png');
    --hcblack-overflow: url('resources/topbar/overflow_hcblack.png');
    --hcwhite-nav: url('resources/topbar/nav_hcwhite.png');
    --hcwhite-tab: url('resources/topbar/tab_hcwhite.png');
    --hcwhite-overflow: url('resources/topbar/overflow_hcwhite.png');
}

.Root__globalNav {
    height: 36px;
    justify-content: center;
    margin: calc(var(--panel-gap) * -1); /* For Spotify 1.2.46 and below compatibility, present by default in xpui.css on 1.2.47+ */

    /* Marketplace load bugfix */
    padding-inline: 7px !important;
    &[data-wmpotify-tabs-created] {
        padding-inline: 8px !important;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 36px;
        background: url('resources/topbar/bgstrip.png') repeat-x;
        border-image: url('resources/topbar/bg.png') 2 / 2px 1px 2px 1px;
    }

    /* 1.2.59 compatibility */
    .main-globalNav-searchSection + div {
        margin-inline-end: var(--panel-gap) !important;

        > div:last-child:empty {
            display: none;
        }
    }

    .main-globalNav-historyButtonsContainer > div {
        padding-inline-start: unset;
        margin-inline-start: unset;

        > div:first-child:empty {
            display: none;
        }
    }
}

.main-globalNav-historyButtons {
    height: 35px;
    margin-top: -1px;
    margin-left: -1px;
    background: var(--nav-disabled) no-repeat;
    gap: 0 !important;
    padding-inline: 0 !important;

    > button {
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        width: 30px;
        min-height: 0;
        max-height: 35px;
        opacity: 1 !important;
        transform: none !important;
        cursor: default !important;

        > span {
            display: none;
        }

        &:first-child {
            background: var(--nav) 0 0 / 200% 100%;

            &:hover {
                background: var(--nav-hover) 0 0 / 200% 100%;
            }

            &:active {
                background: var(--nav-pressed) 0 0 / 200% 100%;
            }

            &:disabled {
                background: var(--nav-disabled) 0 0 / 200% 100%;
            }
        }

        &:nth-child(2) {
            width: 29px;
            background: var(--nav) -100% 0 / 200% 100%;

            &:hover {
                background: var(--nav-hover) -100% 0 / 200% 100%;
            }

            &:active {
                background: var(--nav-pressed) -100% 0 / 200% 100%;
            }

            &:disabled {
                background: var(--nav-disabled) -100% 0 / 200% 100%;
            }
        }
    }

    > :not(button) {
        display: flex;
        align-items: center;
        * {
            color: white;
        }
    }
}

.main-globalNav-historyButtonsContainer,
.main-globalNav-searchContainer,
.custom-navlinks-scrollable_container,
.main-topBar-topbarContentRight {
    /* Important is to override the Spotify's animation removal when the system animation is disabled */
    animation: appear 8s !important;
}

.main-topBar-topbarContentRight > .main-actionButtons {
    > button {
        animation: appear 8s !important;
    }

    button {
        background: none;
        border: none;

        svg {
            color: white;
        }
    }
}

:root[data-wmpotify-init-complete],
.Root__globalNav[data-wmpotify-tabs-created] {
    .main-globalNav-searchContainer,
    .custom-navlinks-scrollable_container,
    .main-topBar-topbarContentRight > .main-actionButtons > button {
        display: none;
    }

    .main-globalNav-historyButtonsContainer,
    .main-topBar-topbarContentRight {
        animation: none !important;
    }
}

:root[data-wmpotify-js-fail] {
    .main-globalNav-historyButtonsContainer,
    .main-globalNav-searchContainer,
    .custom-navlinks-scrollable_container,
    .main-topBar-topbarContentRight,
    .main-topBar-topbarContentRight > .main-actionButtons > button {
        animation: none !important;
    }
}

/* Tabs */
#wmpotify-tabs-container {
    display: flex;
    position: absolute;

    > button:not(#wmpotify-tabs-overflow-button) {
        min-width: 99px;
        width: auto;
        height: 36px;
        min-height: 0;
        background: none !important;
        border: 6px solid transparent;
        border-image: var(--tab) 6 4 2 4 fill stretch;
        border-image-width: 6px 4px 2px 4px;
        border-radius: 0 !important;
        color: white !important;
        font-weight: normal !important;
        display: block !important;
        transform: none !important;
        cursor: default !important;
        padding-block: 0;
        padding-inline: 0;
        margin-inline-start: 0;
        forced-color-adjust: none;

        &[data-hidden],
        &[data-extra-hidden] {
            display: none !important;
        }

        svg {
            display: none;
        }

        .wmpotify-tab-label {
            position: relative;
            top: 0;
            left: 0;
            font-size: 13px;
            text-align: center;
            background-color: var(--tab-label-bg) !important;
            color: var(--tab-label-text) !important;
        }

        .main-topBar-buddyFeed {
            height: 36px !important;
        }

        &:not(:disabled) {
            &:hover {
                border-image-source: var(--tab-hover);
            }

            &:active {
                border-image-source: var(--tab-pressed);
            }
        }

        &.main-globalNav-navLinkActive {
            border-image-source: var(--tab-active);

            &:hover {
                border-image-source: var(--tab-active-hover);
            }

            &:active {
                border-image-source: var(--tab-active-pressed);
            }

            .wmpotify-tab-label {
                background-color: var(--tab-label-bg-active) !important;
                color: var(--tab-label-text-active) !important;
            }
        }
    }

    > button[data-identifier="now-playing"]:first-child {
        position: relative;
        margin-right: 17px;

        &::after {
            content: '';
            position: absolute;
            top: -6px;
            right: -15px;
            width: 2px;
            height: 36px;
            background: url('resources/topbar/separator.png') no-repeat;
        }
    }

    > #wmpotify-tabs-overflow-button {
        display: none;
        width: 19px;
        height: 36px;
        border: none;
        background: var(--overflow) no-repeat;

        &:hover {
            background-image: var(--overflow-hover);
        }
    }

    &.dragging {
        > button:not(:first-child):not(#wmpotify-tabs-overflow-button) {
            box-shadow: -2px 0 0 white;
        }
    }
}

.main-topBar-topbarContentRight {
    /* Explore Premium button */
    > button:first-child {
        display: none !important;
    }

    /* User button */
    > button:last-child {
        min-width: 64px;
        width: auto;
        height: 36px;
        min-height: 0;
        background: none !important;
        color: white !important;
        font-weight: normal !important;
        display: block !important;
        transform: none !important;
        cursor: default !important;
        font-size: 11px;
        line-height: 1;

        figure,
        > span:not(.wmpotify-user-label) {
            display: none;
        }

        .wmpotify-user-label {
            position: relative;
            margin: 10px;
        }

        /* Spotify update alert */
        svg {
            display: none;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 36px;
            border-image: url('resources/topbar/user.png') 10 5 10 5 fill stretch;
            border-image-width: 10px 5px 10px 5px;
            border-radius: 0 !important;
        }

        &:hover::before {
            border-image-source: url('resources/topbar/user_hover.png');
        }

        &:active::before {
            border-image-source: url('resources/topbar/user_pressed.png');
        }
    }
}

/* Search bar */
#wmpotify-search-container {
    position: absolute;
    top: 36px;
    left: calc(var(--wmpotify-left-sidebar-width, var(--left-sidebar-width)) * 1px + var(--panel-gap) * 2);
    width: calc(100% - var(--wmpotify-left-sidebar-width, var(--left-sidebar-width)) * 1px - var(--panel-gap) * 2);
    height: 30px;
    border-bottom: solid 1px var(--wmp11-separator-light);
    box-shadow: var(--wmp11-separator-shadow) -1px -1px inset;
    z-index: 99;
    display: none;

    #wmpotify-search-wrapper {
        float: right;
        position: relative;
        margin: 2px;
        width: 225px;
        height: 24px;
        padding: 1px;
        border: solid 1px var(--wmp11-search-border-outer);
        background: var(--wmp11-search-gradient);

        input[type="search"] {
            width: 100%;
            height: 20px;
            border: solid 1px var(--wmp11-search-border-inner);
            background-color: var(--wmp11-search-face);
            font-size: 12px;
            border-radius: 0;
            min-height: 0;
            padding-inline: 4px;
            padding-block: unset;
            box-shadow: none;
            color: var(--spice-text);
            cursor: text !important;

            &::placeholder {
                color: var(--gray-text);
                font-style: italic;
            }
        }

        #wmpotify-search-clear-button {
            position: absolute;
            top: 1px;
            right: 0px;
            width: 26px;
            height: 20px;
            border: none;
            background: url('resources/topbar/search.png') no-repeat;
        }

        &:has(input[type="search"]:not(:placeholder-shown)) #wmpotify-search-clear-button {
            background: url('resources/topbar/clear.png') no-repeat;

            &:hover {
                background: url('resources/topbar/clear_hover.png') no-repeat;
            }

            &:active {
                background: url('resources/topbar/clear_pressed.png') no-repeat;
            }
        }
    }
}

body.sidebar-open #wmpotify-search-container {
    width: calc(100% - var(--wmpotify-left-sidebar-width, var(--left-sidebar-width)) * 1px - var(--panel-gap) * 2 - var(--panel-width, var(--right-sidebar-width)) * 1px - 1px);
}

body[data-hide-libx] {
    #wmpotify-search-container {
        left: 0;
        width: 100%;
    }

    &.sidebar-open #wmpotify-search-container {
        width: calc(100% - var(--panel-width, var(--right-sidebar-width)) * 1px - 1px);
    }
}

:root[data-page^="/search"] {
    #wmpotify-search-container {
        display: block;
    }

    #wmpotify-tabs-container button[data-identifier="search"] {
        border-image-source: var(--tab-active) !important;

        &:hover {
            border-image-source: var(--tab-active-hover) !important;
        }

        &:active {
            border-image-source: var(--tab-active-pressed) !important;
        }

        .wmpotify-tab-label {
            background-color: var(--tab-label-bg-active) !important;
            color: var(--tab-label-text-active) !important;
        }
    }

    .Root__main-view {
        margin-top: 30px;
    }
}

:root[data-page^="/wmpvis"] {
    #wmpotify-tabs-container button[data-identifier="now-playing"] {
        border-image-source: var(--tab-active) !important;

        &:hover {
            border-image-source: var(--tab-active-hover) !important;
        }

        &:active {
            border-image-source: var(--tab-active-pressed) !important;
        }

        .wmpotify-tab-label {
            background-color: var(--tab-label-bg-active) !important;
            color: var(--tab-label-text-active) !important;
        }
    }
}

:root[data-page^="/content-feed"] {
    #wmpotify-tabs-container button[data-identifier="content-feed"] {
        border-image-source: var(--tab-active) !important;

        &:hover {
            border-image-source: var(--tab-active-hover) !important;
        }

        &:active {
            border-image-source: var(--tab-active-pressed) !important;
        }

        .wmpotify-tab-label {
            background-color: var(--tab-label-bg-active) !important;
            color: var(--tab-label-text-active) !important;
        }
    }
}

:root[data-buddy-feed-open] {
    #wmpotify-tabs-container button[data-identifier="buddy-feed"] {
        border-image-source: var(--tab-active) !important;

        &:hover {
            border-image-source: var(--tab-active-hover) !important;
        }

        &:active {
            border-image-source: var(--tab-active-pressed) !important;
        }

        .wmpotify-tab-label {
            background-color: var(--tab-label-bg-active) !important;
            color: var(--tab-label-text-active) !important;
        }
    }
}

@media (max-width: 418px) {
    .main-topBar-topbarContentRight > button:last-child {
        display: none !important;
    }
}

@media (forced-colors: active) {
    .wmpotify-user-label {
        background: var(--window);
    }

    .wmpotify-tab-label {
        font-size: 17px !important;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --nav: var(--hcblack-nav);
            --nav-hover: var(--hcwhite-nav);
            --nav-pressed: var(--hcwhite-nav);
            --nav-disabled: var(--hcwhite-nav);
            --tab: var(--hcblack-tab);
            --tab-hover: var(--hcwhite-tab);
            --tab-pressed: var(--hcwhite-tab);
            --tab-active: var(--hcblack-tab);
            --tab-active-hover: var(--hcwhite-tab);
            --tab-active-pressed: var(--hcwhite-tab);
            --overflow: var(--hcblack-overflow);
            --overflow-hover: var(--hcwhite-overflow);
            --tab-label-bg: black;
            --tab-label-bg-active: white;
            --tab-label-text: white;
            --tab-label-text-active: black;
        }
    }

    @media (prefers-color-scheme: light) {
        :root {
            --nav: var(--hcwhite-nav);
            --nav-hover: var(--hcblack-nav);
            --nav-pressed: var(--hcblack-nav);
            --nav-disabled: var(--hcblack-nav);
            --tab: var(--hcwhite-tab);
            --tab-hover: var(--hcblack-tab);
            --tab-pressed: var(--hcblack-tab);
            --tab-active: var(--hcwhite-tab);
            --tab-active-hover: var(--hcblack-tab);
            --tab-active-pressed: var(--hcblack-tab);
            --overflow: var(--hcwhite-overflow);
            --overflow-hover: var(--hcblack-overflow);
            --tab-label-bg: white;
            --tab-label-bg-active: black;
            --tab-label-text: black;
            --tab-label-text-active: white;
        }
    }
}