:root[data-wmpotify-control-style="10"] {
  --menu-padding: 3px;
  --item-offset-left: 30px;
  --checkmark-menu: url("resources/icon/10/checkmark-menu.svg");
  --menu-background-color: #f2f2f2;
  --menu-border-color: #cccccc;
  --menu-icon-area-color: #f0f0f0;
  --menu-item-hover-color: #91c9f7;
  --menu-item-radio-dot-color: black;

  &[data-wmpotify-dark-mode] {
    --menu-background-color: #2b2b2b;
    --menu-border-color: #808080;
    --menu-icon-area-color: #2b2b2b;
    --menu-item-hover-color: #414141;
    --menu-item-radio-dot-color: white;
    --checkmark-menu: url("resources/icon/10/checkmark-menu-dark.svg");
  }

  /* For Spotify menus */
  #context-menu {
    ul:not([id*="curation-"]) {
      &[role] {
        margin: 0;
        padding: 0;
        list-style: none;
        cursor: default;
      }

      &[role="menu"] {
        min-width: 150px;
        padding: 2px;
        background: var(--menu-background-color);
        color: var(--menu-text);
        border: 1px solid var(--menu-border-color);
        box-shadow: 4px 4px 3px -2px rgba(0, 0, 0, 0.5);
        border-radius: 0;
        overflow-x: hidden;
        animation: fade 0.2s;

        .main-contextMenu-filterPlaylistSearchContainer {
          height: unset;
        }

        .main-contextMenu-filterPlaylistSearch {
          display: none;
        }

        &::before {
          content: "";
          pointer-events: none;
          position: absolute;
          left: 2px;
          width: var(--item-offset-left);
          height: calc(100% - 4px);
          background: var(--menu-icon-area-color);
        }

        [role="menuitem"] & {
          display: none;
          position: absolute;
          left: 0;
          top: 100%;
          z-index: 99;
        }

        & [role="menuitem"] > [role="menu"] {
          top: -4px;
          left: 100%;
        }

        > [role="menuitem"],
        .main-contextMenu-menuItem {
          &:has(> span) {
            display: none;
          }

          /* 1.2.84 added this class to list view style bottom buttons, and audio quality selection menu, exclude those */
          .main-contextMenu-menuItemButton:not(.YrVXiSMvnPFGqwDCePCf):not(.bZu9z5uN3CYG_zTFA97L):not(.CgGNDh1suyDyp2D3Azit) {
            height: 24px;

            span {
              margin-left: 21px;
              line-height: 1.1;
              overflow: visible;
            }

            .TypeElement-type-mesto-textBrightAccent {
              color: var(--menu-text);
            }
          }

          /* Audio quality selector with lossless option */
          [class*="Box-group-naked-listRow-minBlockSize"] {
            min-block-size: 0;
            padding: 2px 0 2px 22px;
          }

          /* Add to playlist menu */
          [style*="context-menu-submenu-length"] {
            height: unset;
          }

          > a,
          > button,
          > label,
          &[aria-haspopup="true"] {
            all: unset;
            position: relative;
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 4px 10px 4px 10px;
            box-sizing: border-box;
            border: 1px solid transparent;
            border-radius: 0;
            white-space: nowrap;

            &:hover,
            &:focus-visible {
              background: var(--menu-item-hover-color);
              border-color: var(--menu-item-hover-color);
            }

            span {
              font: var(--menu-font);
            }

            /* Checkmark */
            &:has(path[d^="M15.53 2.47a.75.75 0 0 1 0 1.06L4.907 14.153.47 9.716a.75.75 0 0 1 1.06-1.06l3.377 3.376L14.47 2.47a.75.75 0 0 1 1.06 0"]) {
              svg:has(path[d^="M15.53 2.47a.75.75 0 0 1 0 1.06L4.907 14.153.47 9.716a.75.75 0 0 1 1.06-1.06l3.377 3.376L14.47 2.47a.75.75 0 0 1 1.06 0"]) {
                display: none;
              }

              &::after {
                content: "";
                background: var(--menu-item-hover-color);
                border-radius: inherit;
                box-sizing: border-box;
                position: absolute;
                top: calc(50% - 1px);
                left: -1px;
                width: 22px;
                height: 22px;
                transform: translateY(-50%);
              }

              > span::before {
                content: "";
                display: block;
                position: absolute;
                top: 3px;
                left: 4px;
                width: 12px;
                height: 12px;
                background: var(--checkmark-menu) center no-repeat;
                z-index: 2;
              }

              &:has(svg.activeStyle),
              &[role="menuitemradio"] {
                > span::before {
                  content: "";
                  top: calc(50% - 1px);
                  left: 7px;
                  transform: translateY(-50%);
                  background: radial-gradient(
                    circle at 75% 25%,
                    var(--menu-item-radio-dot-color),
                    var(--menu-item-radio-dot-color)
                  );
                  border: 1px solid var(--menu-item-radio-dot-color);
                  box-shadow: none;
                  border-radius: 50%;
                  box-sizing: border-box;
                  height: 6px;
                  width: 6px;
                  position: absolute;
                  z-index: 2;
                }
              }
            }
          }

          > button,
          > a {
            &::after {
              content: none;
            }

            span:not(:first-child),
            div:not(:first-child) > span { /* 1.2.84 */
              svg:has(path[d="M14 10 8 4l-6 6h12z"]),
              svg:has(path[d="M14 10 8 4l-6 6z"]) {
                /* submenu mark */
                left: auto;
                top: 3px;
                right: -3px;
                transform: scale(0.6) rotate(90deg);
              }
            }

            &.vvMORUKtQKpQcpQ992bR { /* Top separator */
              /* has multiple classes, usually meaning a separator on top or bottom */
              &::before {
                top: -7px;
                left: 29px;
                width: calc(100% - 29px);
                border: none;
                border-top: solid 1px var(--menu-separator-border-top-color);
                border-bottom: solid 1px var(--menu-separator-border-bottom-color);
                pointer-events: none;
              }
              margin-top: 9px;
            }

            &.Vz3pFUXmll6fKB5Fc4nd,
            &.main-contextMenu-dividerAfter { /* Bottom separator */
              &::before {
                content: "";
                position: absolute;
                bottom: -6px;
                left: 29px;
                width: calc(100% - 29px);
                border: none;
                border-top: solid 1px var(--menu-separator-border-top-color);
                border-bottom: solid 1px var(--menu-separator-border-bottom-color);
                pointer-events: none;
              }
              margin-bottom: 9px;
            }
          }

          &:last-child .Vz3pFUXmll6fKB5Fc4nd {
            margin-bottom: 0;
            &::before {
              display: none;
            }
          }

          svg {
            position: absolute;
            left: 4px;
            transform: scale(0.75);
          }
        }

        div.main-contextMenu-dividerAfter { /* 1.2.69 */
          border-top: solid 1px var(--menu-separator-border-top-color);
          border-bottom: solid 1px var(--menu-separator-border-bottom-color);
          margin: 3px 0 4px 30px;
          width: calc(100% - 31px);
        }

        /* 1.2.61 LibX view chooser */
        > div[style*="view-menu-selected-offset"] {
          background: var(--menu-background-color);
          padding: 0;

          span {
            display: flex;
            justify-content: center;

            svg {
              position: relative;
              top: 0;
              left: 0;
              transform: scale(0.8);
            }

            & + div {
              display: none;
            }
          }
        }

        div[style*="view-menu-selected-offset"]::before {
          display: none !important;
        }

        /* Hide the bottom separator if there is no menu below */
        &:not(:has(+ [role="menu"])) {
          .main-contextMenu-menuItem:not(:has(+ .main-contextMenu-menuItem)) {
            .Vz3pFUXmll6fKB5Fc4nd:not(#Prio1):not(#Prio2),
            .main-contextMenu-dividerAfter:not(#Prio1):not(#Prio2) {
              &::before {
                display: none;
              }
            }
          }
          .main-contextMenu-dividerAfter:not(.main-contextMenu-menuItemButton):not(:has(+ .main-contextMenu-menuItem)) {
            display: none;
          }
        }

        &:has(+ [role="menu"]) {
          border-bottom: 0;

          + [role="menu"] {
            border-top: 0;
            padding-top: 0;
            margin-top: -2px;
          }
        }
      }
    }

    /* Add to playlist menu */
    form,
    ul[id*="curation-folder-submenu-"] {
      background: var(--surface);
      border-radius: 0;
      border: solid 1px black;
      box-shadow: inset 0 0 0 1px #fffa;

      > div:last-child {
        background: transparent;
      }

      [role="search"] {
        width: 100%;
      }
    }
  }

  /* For MadMenu */
  .contextMenuBg {
    margin: 0;
    padding: 0;
    list-style: none;
    padding: var(--menu-padding) !important;
    background: var(--menu-background-color) !important;
    color: var(--menu-text);
    box-shadow: var(--menu-border-color) -1px -1px inset, var(--menu-border-color) 1px 1px inset,
      5px 5px 4px -4px rgba(0, 0, 0, 0.75);
    z-index: 1;

    hr {
      border-top-color: var(--menu-separator-border-top-color);
      border-bottom-color: var(--menu-separator-border-bottom-color);
      margin-left: 29px;
      width: calc(100% - 27px);
    }
  }

  .contextMenu {
    right: 5px;
  }

  .contextMenu::before {
    content: "";
    pointer-events: none;
    position: absolute;
    left: 0;
    width: var(--item-offset-left);
    height: 100%;
    background: var(--menu-icon-area-color);
  }

  .contextMenuItem {
    position: relative;
    width: calc(100% + 2px);
    height: 24px !important;
    padding: 2px 10px 4px 12px;
    border: 1px solid transparent;
    border-radius: 0;
    white-space: nowrap;
    color: var(--menu-text);

    &[data-active] {
      background: var(--menu-item-hover-color);
      border-color: var(--menu-item-hover-color);
    }

    &.disabled {
      color: #6d6d6d !important;
      text-shadow: none !important;
      &[data-active] {
        background: #e6e6e6;
        border-color: #d4d3d3;
      }
    }

    p {
      padding-top: 0 !important;
      padding-left: 20px !important;
      &::before {
        display: none;
      }
    }

    .submenuMark {
      transform: translateY(calc(-50% - 2px));
    }

    &::after {
      background: var(--menu-item-hover-color);
      border-radius: inherit;
      box-sizing: border-box;
      position: absolute;
      top: -1px;
      left: -1px;
      width: 22px;
      height: 22px;
    }
    &::before {
      position: absolute;
      top: 50%;
      right: 2px;
      transform: translateY(-50%);
      z-index: 2;
    }

    &.activeStyle,
    &.checkedItem {
      &::after {
        content: "";
      }
    }
    &.activeStyle::before {
      content: "";
      top: 10px;
      left: 7px;
      background: radial-gradient(
        circle at 75% 25%,
        var(--menu-item-radio-dot-color),
        var(--menu-item-radio-dot-color)
      );
      border: 1px solid var(--menu-item-radio-dot-color);
      box-shadow: none;
      border-radius: 50%;
      box-sizing: border-box;
      height: 6px;
      width: 6px;
      position: absolute;
      z-index: 2;
    }
    &.checkedItem::before {
      content: "";
      display: block;
      position: absolute;
      top: 3px;
      left: 4px;
      width: 12px;
      height: 12px;
      background: var(--checkmark-menu) center no-repeat;
      z-index: 2;
    }
  }
}