:root:not([data-wmpotify-control-style="aero"]):not([data-wmpotify-control-style="10"]) {
  .main-contextMenu-tippy,
  [data-testid="progress-label"] {
    border: 1px solid var(--info-text);
    border-radius: 0;
    background: var(--info-window);
    box-shadow: none;
    forced-color-adjust: none;
  }
}