/* Styles for some common Spotify controls that are shared across multiple pages */
.main-trackList-trackListRow {
    > div {
        padding-left: 5px;
    }

    .main-trackList-rowSectionStart img {
        border-radius: 0 !important;
        box-shadow: var(--album-shadow-small);
    }

    &:hover {
        background: var(--item-hover-background);
        border-color: var(--item-hover-border);
    }

    [aria-selected="true"] &,
    &:focus-within {
        background: var(--item-selection-background);
        border-color: var(--item-active-border);
    }

    [aria-selected="true"] &:hover,
    &:hover:focus-within {
        background: var(--item-selection-hover-background);
        border-color: var(--item-selection-hover-border);
    }
}

.main-trackList-trackListHeader {
    background: none !important;
    border-image: var(--listview-header) 0 0 1 2 fill stretch;
    border-image-width: 0 0 1px 2px;
    height: 23.3px;
    box-shadow: var(--wmp11-separator-light) 0 -1px 0 0, var(--wmp11-separator-shadow) 0 -2px 0 0; 
    forced-color-adjust: none;

    &[style*="top: 64px"] {
        top: 29px !important;
    }

    > div[role="presentation"]:first-child {
        & > button, /* Choose column button, 1.2.57 */
        & + button { /* Choose column button, 1.2.64 */
            display: none;
        }
    }

    .main-trackList-trackListHeaderRow {
        height: 25px;
        grid-gap: 0;

        .main-trackList-sortable,
        .main-trackList-rowSectionIndex > div {
            color: var(--wmp11-subtext);
            [class*=encore-text] {
                color: var(--wmp11-subtext) !important;
            }
        }

        > div {
            border-image: var(--listview-header) 0 2 1 2 fill stretch;
            border-image-width: 0 2px 1px 2px;
            padding-left: 5px;

            &.selected {
                border-image-source: url('resources/ui/listview_header_selected.png');
                [class*=encore-text] {
                    color: black !important;
                }
                svg:not(#Prio1):not(#Prio2) {
                    fill: black !important;
                }
            }

            &.has-button {
                > div:empty { /* 1.2.55 */
                    opacity: 0;
                }

                &:hover {
                    border-image-source: url('resources/ui/listview_header_hover.png');
                    [class*=encore-text] {
                        color: black !important;
                    }
                    svg:not(#Prio1):not(#Prio2) {
                        fill: black !important;
                    }
                }

                &:active {
                    border-image-source: url('resources/ui/listview_header_pressed.png');
                    [class*=encore-text] {
                        color: black !important;
                    }
                    svg:not(#Prio1):not(#Prio2) {
                        fill: black !important;
                    }
                }
            }

            > div {
                width: 100%;
                button,
                div {
                    width: 100%;
                    justify-content: flex-start;

                    svg:has(path[d="m14 6-6 6-6-6h12z"]),
                    svg:has(path[d="M14 10 8 4l-6 6h12z"]) {
                        fill: var(--window-text) !important;
                        order: 1;
                        width: 11px;
                        margin-top: -2px;
                    }
                }
                span {
                    text-align: left;
                }
            }
        }

        .main-trackList-column {
            justify-content: flex-start;
        }

        .main-trackList-rowSectionIndex {
            min-width: 30px;
        }

        .main-trackList-rowSectionEnd .main-trackList-durationHeader {
            justify-content: flex-start;
        }
    }
}

/* Choose column button, 1.2.59-1.2.61 */
.main-trackList-trackList + button:has(path[d="m14 6-6 6-6-6h12z"]) {
    display: none;
}

.main-shelf-shelfGrid {
    > div,
    > a > div { /* Blend (Made For Us) in the Made For You genre page */
        border: solid 1px transparent;
        border-radius: 3px;

        &::after {
            display: none;
        }

        > div::after {
            display: none;
        }

        &:hover {
            background: var(--item-hover-background);
            border-color: var(--item-hover-border);
        }

        &:focus-within {
            background: var(--item-selection-background);
            border-color: var(--item-active-border);
        }

        &:hover:focus-within {
            background: var(--item-selection-hover-background);
            border-color: var(--item-selection-hover-border);
        }
    }

    .main-card-imageContainer {
        > div:first-child {
            border-radius: 0;
            box-shadow: var(--album-shadow-big);
    
            img {
                border-radius: 0;
            }
        }
    
        .main-card-PlayButtonContainer {
            button {
                width: 42px;
                height: 43px;
                background: var(--play) no-repeat;
    
                &:hover {
                    background-image: var(--play-hover);
                }
    
                &:active {
                    background-image: var(--play-pressed);
                }
    
                span {
                    opacity: 0;
                }

                &:has(path[d="M2.7 1a.7.7 0 0 0-.7.7v12.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V1.7a.7.7 0 0 0-.7-.7H2.7zm8 0a.7.7 0 0 0-.7.7v12.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V1.7a.7.7 0 0 0-.7-.7h-2.6z"]),
                &:has(path[d="M5.7 3a.7.7 0 0 0-.7.7v16.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V3.7a.7.7 0 0 0-.7-.7H5.7zm10 0a.7.7 0 0 0-.7.7v16.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V3.7a.7.7 0 0 0-.7-.7h-2.6z"]),
                &:has(path[d="M2.7 1a.7.7 0 0 0-.7.7v12.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V1.7a.7.7 0 0 0-.7-.7zm8 0a.7.7 0 0 0-.7.7v12.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V1.7a.7.7 0 0 0-.7-.7z"]),
                &:has(path[d="M5.7 3a.7.7 0 0 0-.7.7v16.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V3.7a.7.7 0 0 0-.7-.7zm10 0a.7.7 0 0 0-.7.7v16.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V3.7a.7.7 0 0 0-.7-.7z"]) {
                    background-image: var(--pause) !important;
    
                    &:hover {
                        background-image: var(--pause-hover) !important;
                    }
    
                    &:active {
                        background-image: var(--pause-pressed) !important;
                    }
                }
            }
    
            &.main-card-PlayButtonContainerVisible { /* Currently playing playlist - show pause button */
                button {
                    background-image: var(--pause) ;
    
                    &:hover {
                        background-image: var(--pause-hover);
                    }
    
                    &:active {
                        background-image: var(--pause-pressed);
                    }
                }
            }
        }
    }
}

/* Carousel view, including home carousel */
.search-searchCategory-contentArea {
    &::before, &::after {
        display: none;
    }

    .search-searchCategory-categoryGrid {
        &::before, &::after {
            display: none;
        }
    }

    .search-searchCategory-carousel {
        left: 0;
        right: 0;

        .search-searchCategory-carouselButton {
            width: 16px;
            height: 100%;
            border-radius: 0 !important;
            min-width: 0 !important;
            padding: 0 !important;
            cursor: default !important;
            top: 0;
            margin-top: 0;
            translate: 0 !important;

            svg {
                scale: 0.7;
            }
        }
    }
}

/* This somehow interferes with -webkit-app-region: drag */
.main-entityHeader-container {
    &.main-entityHeader-withBackgroundImage,
    &.DFuKwT5bvhKZoYr2gfZe { /* 1.2.72 */
        .main-entityHeader-headerText * {
            text-shadow: var(--aero-text-glow);
            color: black !important;

            .encore-text-headline-large {
                text-shadow: none;
                color: white !important;
            }
        }

        .playlist-playlist-playlistDescription {
            overflow: visible;
        }
    }
}

.main-view-container {
    .under-main-view > div > div:last-child {
        --spice-rgb-shadow: 0, 0, 0;
    }
}

.Root__main-view {
    div[class^="Box__BoxComponent-"][class*="isInteractive"],
    div[class*="e-"][class*="-box--interactive"] {
        border: solid 1px transparent;
        border-radius: 3px;

        &::after {
            display: none;
        }

        > div::after {
            display: none;
        }

        &:hover {
            background: var(--item-hover-background) !important;
            border-color: var(--item-hover-border);
        }

        &:focus-within {
            background: var(--item-selection-background) !important;
            border-color: var(--item-active-border);
        }

        &:hover:focus-within {
            background: var(--item-selection-hover-background) !important;
            border-color: var(--item-selection-hover-border);
        }

        .x-entityImage-imageContainer,
        .lKuMkIKSZanMIK6aQWfx, /* 1.2.72 */
        .main-card-imageContainer {
            box-shadow: var(--album-shadow-big);
            border-radius: 0;
            background: none;

            div:has(img), img {
                border-radius: 0;
                box-shadow: none;
            }
        }

        button[data-encore-id="buttonPrimary"] {
            width: 42px;
            height: 43px;
            background: var(--play) no-repeat;

            &:hover {
                background-image: var(--play-hover);
            }

            &:active {
                background-image: var(--play-pressed);
            }

            span {
                opacity: 0;
            }

            &:has(path[d="M2.7 1a.7.7 0 0 0-.7.7v12.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V1.7a.7.7 0 0 0-.7-.7H2.7zm8 0a.7.7 0 0 0-.7.7v12.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V1.7a.7.7 0 0 0-.7-.7h-2.6z"]),
            &:has(path[d="M5.7 3a.7.7 0 0 0-.7.7v16.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V3.7a.7.7 0 0 0-.7-.7H5.7zm10 0a.7.7 0 0 0-.7.7v16.6a.7.7 0 0 0 .7.7h2.6a.7.7 0 0 0 .7-.7V3.7a.7.7 0 0 0-.7-.7h-2.6z"]) {
                background-image: var(--pause) !important;

                &:hover {
                    background-image: var(--pause-hover) !important;
                }

                &:active {
                    background-image: var(--pause-pressed) !important;
                }
            }
        }

        [class*=LineClamp] {
            &:has(.NUoUlYHQoMKe6r7dL2Hg),
            &:has(.Wmr5qZ5jui6X37XCrChA) {
                display: none;
            }
        }
    }
}

@media (forced-colors: active) {
    .main-trackList-trackListRow {
        &:hover,
        &:focus-within,
        [aria-selected="true"] & {
            * {
                color: var(--hilight-text) !important;
            }

            [class*=encore-text], [class*=encore-text] * {
                background-color: var(--hilight) !important;
                forced-color-adjust: none !important;
            }
        }
    }

    .main-trackList-trackListHeader {
        background: var(--surface) !important;
        border-image: none !important;
        box-shadow: none !important;

        .main-trackList-trackListHeaderRow {
            > div {
                border-image: none !important;
                box-shadow: var(--border-raised-outer), var(--border-raised-inner);

                > div:not(#Prio1) {
                    color: ButtonText !important;
                    [class*=encore-text], button {
                        color: ButtonText !important;
                    }
                    svg:not(#Prio1):not(#Prio2) {
                        fill: ButtonText !important;
                    }
                }

                &.has-button {
                    &:active {
                        box-shadow: var(--button-shadow-color) -1px -1px inset, var(--button-shadow-color) 1px 1px inset;
                    }
                }
            }
        }
    }

    .main-shelf-shelfGrid {
        > *:hover, > *:focus-within {
            [class*=LineClamp], [class*=LineClamp] * {
                color: var(--hilight-text) !important;
                background-color: var(--hilight) !important;
                forced-color-adjust: none !important;
            }
        }
    }

    .Root__main-view div[class^="Box__BoxComponent-"][class*="isInteractive"],
    .Root__main-view div[class*="e-"][class*="-box--interactive"] {
        &:hover, &:focus-within {
            [class*=LineClamp], [class*=LineClamp] * {
                color: var(--hilight-text) !important;
                background-color: var(--hilight) !important;
                forced-color-adjust: none !important;
            }
        }
    }
}